:root {
    --background: #1e1e1e;
    --on-background: #fafafa;
    --alt: rgba(255 255 255 / .52);
    --outline: rgba(255 255 255 / .25);
    --primary: #5ad;
    --secondary: #EA7EB8;
}

html, body {
    /* https://rsms.me/inter/lab/ */
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-feature-settings: "frac", "ss01", "cv10", "rlig";
    /* font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif; */
    font-weight: 300;
    background-color: var(--background);
    color: var(--on-background);
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 560px;
    padding: 1em;
    margin: 0 auto;
}

/* Layout */
.footer {
    margin-top: 1em;
    background-color: #393939;
    display: block;
}
.footer__ribbon {
    background: rgba(0,0,0,0.12);
}
.footer__ribbon p {
    margin: 0;
    opacity: .52;
}
.footer__ppal .flex-grow {
    margin-left: 1em;
}
.footer__ppal ul.a11y {
    display: flex;
    flex-flow: row wrap;
    --icon-size: 1.5em;
    margin: 1em -.5em 0;
}
.footer__ppal ul.a11y a {
    display: block;
    padding: .5em;
}
.footer__img {
    width: 120px;
    display: block;
}
.footer__img img {
    width: 100%;
    height: auto;
}

/* Microcomponents */
.sticky {
    margin: 1em -1em 0;
    display: block;
}
.sticky__label {
    margin: .5em 1em 0;
    color: var(--alt);
    font-style: italic;
}

.ratiod {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% / var(--ratio));
    position: relative;
    background-color: #000;
}
.ratiod .ratiod__target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    mask: var(--mask) var(--icon-size);
    -webkit-mask: var(--mask) var(--icon-size);
    background: var(--alt);
    display: block;
}

.callout-text {
    /* I must be an inline element (apply this class to em, strong, or span) */
    font-size: 112.5%;
    font-weight: 600;
    letter-spacing: .02em;
    position: relative;
    padding: 0 .1em;
    top: .02em;
    background-image: linear-gradient(45deg, #448aff 0%, #00e676 100%);
    /* background-image: linear-gradient(45deg, #448aff 0%, #EA7EB8 100%); */
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media only screen and (min-width: 560px) {
    .sticky.sticky--small {
        margin: 1em auto 0;
        max-width: 480px;
    }
    .sticky__label {
        margin: .5em 0 0;
    }
}
@media only screen and (min-width: 640px) {
    .sticky.sticky--medium {
        margin: 1em auto 0;
        max-width: 640px;
    }
    .container {
        max-width: 640px;
    }
}
@media only screen and (min-width: 920px) {
    .sticky.sticky--large {
        margin: 1em auto 0;
        max-width: 840px;
    }
    main {
        margin-top: 1em;
    }
    .container {
        max-width: 840px;
    }
}

@media only screen and (min-width: 1040px) {
    .container {
        max-width: 920px;
    }
}
