*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background: #1e1e1e;
    --on-background: #fafafa;
    --secondary: rgba(255 255 255 / .52);
    --outline: rgba(255 255 255 / .25);
    --accent: #448aff;
}

html, body {
    /* font-family: Roboto, Arial, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: var(--background);
    color: var(--on-background);
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 560px;
    padding: 1em;
    margin: 0 auto;
}

/* Layout */
.footer {
    background-color: #393939;
    display: block;
}
.footer__ribbon {
    background: rgba(0,0,0,0.12);
}
.footer__ribbon p {
    margin: 0;
    opacity: .52;
}
.footer__ppal .flex-grow {
    margin-left: 1em;
}
.footer__ppal ul.a11y {
    display: flex;
    flex-flow: row wrap;
    --icon-size: 1.5em;
    margin: 0 -.5em;
}
.footer__ppal ul.a11y a {
    display: block;
    padding: .5em;
}
.footer__img {
    max-width: 120px;
    display: block;
}

/* Microcomponents */
.sticky {
    margin: 1em -1em;
    display: block;
}
.sticky__label {
    margin: .5em 1em;
    color: var(--secondary);
    font-style: italic;
}

.ratiod {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% / (var(--ratio)));
    position: relative;
}
.ratiod > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    mask: var(--mask) var(--icon-size);
    -webkit-mask: var(--mask) var(--icon-size);
    background: var(--secondary);
    display: block;
}


@media only screen and (min-width: 560px) {
    .sticky {
        margin: 1em auto;
        max-width: 480px;
    }
    .sticky__label {
        margin: .5em 0;
    }
}
@media only screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media only screen and (min-width: 840px) {
    main {
        margin-top: 1em;
    }
    .container {
        max-width: 920px;
    }
}
