*, *::before, *::after {
    box-sizing: border-box;
}
:focus {
    outline: white dashed 1px;
    outline-offset: .125em;
    outline-style: dashed;
    outline-width: 1px;
    outline-color: white;
}

/*
 * Target animation: Add a border, flash twice.
 */
:target {
    scroll-margin-top: 3rem;
    animation: 1500ms look-at-me linear;
}
@keyframes look-at-me {
    0% {
        background-color: transparent;
        box-shadow:
            4px  4px 0 var(--primary),
           -4px  4px 0 var(--primary),
            4px -4px 0 var(--primary),
           -4px -4px 0 var(--primary)
        ;
    }
    20% { background-color: var(--primary); }
    50% { background-color: transparent; }
    75% {
        box-shadow:
            4px  4px 0 var(--primary),
           -4px  4px 0 var(--primary),
            4px -4px 0 var(--primary),
           -4px -4px 0 var(--primary)
        ;
    }
    100% {
        box-shadow:
            4px  4px 0 transparent,
           -4px  4px 0 transparent,
            4px -4px 0 transparent,
           -4px -4px 0 transparent
        ;
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body, figure { margin: 0; }
main { display: block; }
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 1em 0 0;
    font-weight: normal;
}
p, .block-margin { margin: 1em 0 0; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
hr {
    height: 0; border: 0;
    margin: 1em 0 0;
    border-top: 1px solid currentColor;
    border-top-color: var(--outline);
    overflow: visible;
}
pre {
    background-color: #000;
    font-size: 80%;
    padding: 1rem;
    margin: 1rem -1rem 0;
    overflow-x: scroll;
    white-space: pre-wrap;
    font-weight: 400;
}

ul, ol { padding-left: 2em; }
a { background-color: transparent; }
a, button { cursor: pointer; }
:any-link {
    color: var(--primary);
    font-weight: 400;
    text-decoration: none;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong, .bold { font-weight: 500; }
i, em, .italic { font-style: italic; }
pre, code, kbd, samp {
    font-family: "Roboto Mono", monospace, monospace;
}
code {
    color: var(--secondary);
    font-style: italic;
    /* font-weight: 400; */
}
q::before, q::after { content: ''; }
blockquote {
    margin: 1em -1em 0;
    padding: 0 1em;
    border-left: 4px solid var(--secondary);
    font-style: italic;
}
blockquote em { font-style: normal; }
small {
    font-size: 87.5%;
    font-feature-settings: "subs";
    position: relative;
    bottom: .3em;
    padding: 0 2px;
}
sup, sub {
    font-size: 100%;
    line-height: inherit;
    position: relative;
    vertical-align: baseline;
}
ins, del {
    text-decoration: inherit;
}
del {
    text-decoration: line-through;
    text-decoration-thickness: .125em;
    background-color: rgb(235 28 76 / .4);
}
ins {
    font-style: italic;
    background-color: rgb(0 230 118 / .4);
}
sup { font-feature-settings: "sups"; }
sub { font-feature-settings: "subs"; }
img, video, audio {
    border-style: none;
    display: block;
    width: 100%;
    height: auto;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input { overflow: visible; }
button, select { text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset { padding: 0.35em 0.75em 0.625em; }
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress { vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details { display: block; }
summary { display: list-item; }
template { display: none; }
[hidden] { display: none; }

/* Twemoji */
img.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

/* Helpers */
.visuallyhidden, .sr-only {
    position: absolute;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
}

.muted {
    opacity: .52;
}

ul.a11y, ol.a11y {
    padding: 0;
    list-style-type: none;
}

.block { display: block; }

.flex {
    display: flex;
    gap: 1em;
}
.flex--no-gap { gap: 0; }
.flex--column {
    flex-direction: column;
}
.flex--baseline {
    align-items: baseline;
}
.flex {
    margin-top: auto;
    margin-bottom: auto;
}
/* .flex:not(.flex--column, .flex--no-owl) > * + * {
    margin-left: 1em;
} */
.flex > .flex-grow {
    flex: 1;
}
