<footer class="footer">
    <div class="footer__ppal">
        <div class="container">
            <div class="flex">
                <h3 class="sr-only">Footer</h3>
                <a class="footer__img" href="/" rel="me">
                    <span class="sr-only">Home</span>
                    <div class="ratiod" style="--ratio: 1;background: 0;">
                        <picture>
                            <source srcset="
                                /static/images/pfp-2020@2x.webp 600w,
                                /static/images/pfp-2020@1x.webp 300w
                            " type="image/webp">
                            <source srcset="
                                /static/images/pfp-2020@2x.png 600w,
                                /static/images/pfp-2020@1x.png 300w
                            " type="image/webp">
                            <img class="ratiod__target" src="/static/images/pfp-2020@1x.png" alt="" loading="lazy">
                        </picture>
                    </div>
                </a>
                <div class="footer__info flex-grow">
                    <p>I’m supposed to be studying.</p>
                    <h4 class="sr-only">Social links</h4>
                    <ul class="a11y">
                        <li>
                            <a href="https://github.com/MindfulMinun/" rel="me">
                                <span class="sr-only">GitHub</span>
                                <span class="icon" style="--mask: url(/static/other/github.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/MindfulMinun" rel="me">
                                <span class="sr-only">Twitter</span>
                                <span class="icon" style="--mask: url(/static/other/twitter.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mindfulminun/" rel="me">
                                <span class="sr-only">Instagram</span>
                                <span class="icon" style="--mask: url(/static/other/instagram.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://keybase.io/mindfulminun" rel="me">
                                <span class="sr-only">Keybase</span>
                                <span class="icon" style="--mask: url(/static/other/keybase.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/benji-cerda/" rel="me">
                                <span class="sr-only">LinkedIn</span>
                                <span class="icon" style="--mask: url(/static/other/linkedin.svg)"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__ribbon">
        <div class="container" data-blobify>
            <p>Made to work without JavaScript by Benji</p>
        </div>
    </div>
</footer>
