<footer class="footer">
    <div class="footer__ppal">
        <div class="container">
            <div class="flex">
                <h3 class="sr-only">Footer</h3>
                <a class="footer__img" href="/" rel="me">
                    <span class="sr-only">Home</span>
                    <img srcset="
                        /static/images/pfp-2020@1x.webp 300w,
                        /static/images/pfp-2020@1x.png 300w,
                        /static/images/pfp-2020@2x.webp 600w,
                        /static/images/pfp-2020@2x.png 600w
                    " src="/static/images/pfp-2020@2x.png" sizes="120px" alt="" loading="lazy">
                </a>
                <div class="flex-grow">
                    <p>I’m supposed to be studying.</p>
                    <h4 class="sr-only">Social links</h4>
                    <ul class="a11y">
                        <li>
                            <a href="https://github.com/MindfulMinun/" rel="me">
                                <span class="sr-only">GitHub</span>
                                <span class="icon" style="--mask: url(/static/other/github.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/MindfulMinun" rel="me">
                                <span class="sr-only">Twitter</span>
                                <span class="icon" style="--mask: url(/static/other/twitter.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mindfulminun/" rel="me">
                                <span class="sr-only">Instagram</span>
                                <span class="icon" style="--mask: url(/static/other/instagram.svg)"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://keybase.io/mindfulminun" rel="me">
                                <span class="sr-only">Keybase</span>
                                <span class="icon" style="--mask: url(/static/other/keybase.svg)"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__ribbon">
        <div class="container" data-blobify>
            <p>Made with :3c by MindfulMinun</p>
        </div>
    </div>
</footer>
